.despensa-section {
  background: var(--text-color);
  background: linear-gradient(to bottom, var(--accent-color) 0%, var(--text-color) 100%);
  padding: 5rem 0;
}

.despensa-section h2 {
  color: var(--background-color);
}

.despensa-section p {
  color: var(--background-color);
}

.despensa-section .btn-custom {
  background-color: var(--secondary-color);
  color: white;
  border: none; 
}

.despensa-section .btn-custom:hover {
  background-color: #B54300;
  border: none;          
  outline: none; 
  transform: scale(1.05);
}

.despensa-section .badge {
  font-size: 1.1rem;
}