.feed-section {
  background: #fef6ee;
  padding: 4rem 0;
}

.feed-section h2 {
  color: var(--text-color);
}

.recipe-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.05);
  padding: 1rem;
  width: 220px;
  flex-shrink: 0;
}

.recipe-image {
  height: 120px;
  background-color: var(--accent-color);
  border-radius: 6px;
  color: white;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 1rem 0;
  flex-wrap: nowrap;
}

.carousel::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem no Chrome/Safari */
}

.arrow {
  color: white;
  background-color: var(--secondary-color); /* ou qualquer cor base */
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.arrow:hover {
  background-color: #B54300;
  color: white; 
  transform: scale(1.05);    
}