.feed-section {
  background: #fef6ee;
  padding: 4rem 0;
}

.feed-section h2 {
  color: var(--text-color);
}

.recipe-cards-container {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 1.5rem; 
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 1rem 0; 
}


.recipe-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.1);
  padding: 1rem;
  width: 220px; 
  margin-bottom: 1rem; 
}

.recipe-image {
  height: 120px;
  background-color: var(--accent-color);
  border-radius: 6px;
  color: white;
}