.hero-section {
  background: var(--background-color);
  /* background: linear-gradient(180deg, var(--background-color) 0%, var(--transition-color) 100%); */
   
}

.hero-section h1 {
  color: var(--primary-color);
}

.hero-section .btn-custom {
  background-color: var(--secondary-color);
  color: white;
}

.hero-section .btn-custom:hover {
  background-color: var(--primary-color);
  color: white;
}

.btn-outline-primary {
  border-width: 3px; /* Aumenta a espessura de todos os botões outline-primary */
  font-weight: bold;
}

.hero-image img {
  max-width: 350px;
  height: auto;
}