apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  labels:
    app: api-gateway
spec:
  selector:
    app: api-gateway
  type: LoadBalancer 
  ports:
    - name: http-api
      protocol: TCP
      port: 2000 # Porta do localhost
      targetPort: 2000 # Porta do container