.custom-navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.custom-navbar .navbar-brand {
  color: var(--background-color);
  transition: color 0.2s ease;
}

.custom-navbar .navbar-brand:hover {
  color: var(--secondary-color);
}

.custom-navbar .navbar-brand.active {
  color: var(--background-color) !important;
}

.custom-navbar .nav-link {
  color: var(--background-color);
  font-weight: 500;
}

.custom-navbar .navbar-nav .nav-link {
  display: inline-block;
  padding: 0.5rem 0.5rem;
}

.nav-link:hover {
  color: var(--secondary-color); 
  transition: color 0.2s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: var(--secondary-color);
  transition: color 0.2s ease;
}

.custom-navbar .btn-outline-primary {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition: all 0.2s ease;
}

.custom-navbar .btn-outline-primary:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
  transition: all 0.2s ease;
}

.custom-navbar .btn-primary {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.custom-navbar .btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  transition: all 0.2s ease;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  color: var(--secondary-color);
  box-shadow: none
}

.navbar-toggler:hover svg {
  fill: var(--secondary-color);
  transform: scale(1.1);
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.4));
  transition: all 0.2s ease;
}

.profile-icon svg {
  color: var(--background-color);
  transition: all 0.2s ease;
}

.profile-icon:hover svg {
  color: var(--secondary-color); 
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
}

.p-confirm-dialog {
  border-radius: 12px;
  padding: 2rem;
  background-color: var(--primary-color);
  flex-direction: column;
  align-items: center;
}

/* Estiliza o título */
.p-confirm-dialog .p-dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--background-color);
}

/* Estiliza o texto da mensagem */
.p-confirm-dialog .p-confirm-dialog-message {
  font-size: 1rem;
  color: var(--background-color);
  margin-bottom: 5px;
}

/* Estiliza os botões */
.p-confirm-dialog .p-confirm-dialog-accept,
.p-confirm-dialog .p-confirm-dialog-reject {
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  margin: 2px;
  font-weight: bold;
}

.p-confirm-dialog .p-confirm-dialog-accept:hover,
.p-confirm-dialog .p-confirm-dialog-reject:hover{
    transform: scale(1.05);
}
.p-confirm-dialog .p-confirm-dialog-accept {
  background-color: var(--secondary-color);
  border: none;
}

.p-confirm-dialog .p-confirm-dialog-reject {
  background-color: var(--accent-color);
  border: none;
}

.p-confirm-dialog .p-dialog-header-close {
  position: absolute;
  left: auto;
  right: 1rem; 
  top: 1rem;
}