@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.btn-custom {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}

.btn-custom:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: black;
}

.container-home {
    height: 94vh;
}

.container-page {
    background-color: white;
}

#hero-section {
    background-image: linear-gradient(-45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
}

#features {
    padding: 5em 0;
}

#social-media-footer {
    background-color: var(--secondary-color);
    color: white;
}