# Deployment para o Event Bus
apiVersion: apps/v1
kind: Deployment
metadata:
  name: event-bus-deployment
  labels:
    app: event-bus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-bus
  template:
    metadata:
      labels:
        app: event-bus
    spec:
      containers:
      - name: event-bus-container
        image: leoramadio/event-bus:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 4000
        # --- Adicione esta sonda de inicialização ---
        startupProbe:
          httpGet:
            path: /health # O endpoint de saúde do seu event-bus
            port: 4000
          failureThreshold: 30
          periodSeconds: 10