@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --primary-color: #38302E;
    --secondary-color: #E89841;
    --accent-color: #637F68;
    --background-color: #FFF9EC;
    --text-color: #4D6B5B;
}