.container-page {
    background-color: white;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar nav button {
  margin: 0 0.5rem;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}



.card {
    width: 80vw;
} */



